<h3>{{viewTitle}}</h3>

<form action="/student" method="post" autocomplete="off">
    <input type="hidden" name="_id" value="{{student._id}}">
    <div class="form-group">
        <label>historyid</label>
        <input type="text" class="form-control" name="historyid" value="{{student.historyid}}">
        <div class="text-danger">{{student.historyidError}}</div>
    </div>
    <div class="form-group">
        <label>term</label>
        <input type="text" class="form-control" name="term" value="{{student.term}}">
    </div>
    <div class="form-group">
        <label>year</label>
        <input type="text" class="form-control" name="year" value="{{student.year}}">
    </div>
    <div class="form-group">
        <label>grade</label>
        <input type="text" class="form-control" name="grade" value="{{student.grade}}">
    </div>
    <div class="form-group">
        <label>studentid</label>
        <input type="text" class="form-control" name="studentid" value="{{student.studentid}}">
    </div>
    <div class="form-group">
        <label>courseid</label>
        <input type="text" class="form-control" name="courseid" value="{{student.courseid}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="{{next}}"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>