<h3><a class="btn btn-secondary" href="/student"><i class="fa fa-plus"> เพิ่มรายวิชา</i></a> รายวิชาที่ตกค้าง</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ภาคการศึกษา</th>
            <th>ปีการศึกษา</th>
            <th>เกรด</th>
            <th>รหัสวิชา</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        {{#each list}}
        <tr>
            <td>{{this.term}}</td>
            <td>{{this.year}}</td>
            <td>{{this.grade}}</td>
            <td>{{this.courseid}}</td>
            <td>
                <a href="/student/{{this._id}}"><i class="fa fa-edit fa-lg" aria-hidden="true"></i></a>
                <a href="/student/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>